{% extends '_base.html' %}
{% block title %}Freek Wiedijk 的 100 个定理列表中缺失的定理{% endblock %}
{% block content %}
{% markdown %}
# 来自 [Freek Wiedijk](https://www.cs.ru.nl/~freek/) 的 [100 个定理列表](https://www.cs.ru.nl/~freek/100/)中缺失的定理
这些定理尚未在 Lean 中被形式化。
目前共有 {{hundred_theorems|rejectattr('proof_formalized')|list|length}} 个。
在这些定理中，有 {{hundred_theorems|rejectattr('proof_formalized')|selectattr('statement_formalized')|list|length}} 个的陈述已被形式化。
已形式化的定理列表请见<a href="100.html">此处</a>。
{% for theorem in hundred_theorems|rejectattr('proof_formalized') %}
* {{ theorem.id }}: {{ theorem.title }}
{% endfor %}

{% endmarkdown %}
{% endblock %}