{% extends '_base.html' %}
{% block title %}Lean 中的 1000+ 定理{% endblock %}
{% block content %}

    <h1>1000+ 定理</h1>

    <p><a href="https://www.cs.ru.nl/~freek/">Freek Wiedijk</a> 启动了 <a href="https://1000-plus.github.io/">1000+ 定理项目</a>，该项目旨在追踪定理证明器在形式化维基百科上的命名定理方面的进展，以此来比较主流的定理证明器。
    目前，其中 {{thousand_theorems|selectattr('proof_formalized')|list|length}} 个定理已在 Lean 中被形式化，
    另有 {{thousand_theorems|selectattr('statement_formalized')|list|length}} 个定理仅在 Lean 中形式化了其陈述。
    我们还有一个页面，列出了该列表中<a href="1000-missing.html">尚未在 Lean 中实现</a>的定理。</p>

	<p>
	要更新此列表，请在编辑了
	<a href="https://github.com/leanprover-community/mathlib4/blob/master/docs/1000.yaml">yaml 源文件</a>之后，<a href="contribute/index.html">向 mathlib 提交一个拉取请求 (pull request)</a>。
	这可以完全在 GitHub 上完成，请参阅
	<a href="https://docs.github.com/en/github/managing-files-in-a-repository/editing-files-in-another-users-repository">“在其他用户的仓库中编辑文件”</a>。
	</p>

    {% for theorem in thousand_theorems|selectattr('proof_formalized') %}
        <h5 class="markdown-heading mt-5" id="{{ theorem.id }}">{{ theorem.id }}: {{ theorem.title }} <a class="hover-link" href="#{{ theorem.id }}">#</a></h5>
        {% if theorem.authors %}<p>作者: {{ theorem.authors }}</p>{% endif %}
        {% if theorem.statement %}<p><code>{{ theorem.statement }}</code></p>{% endif %}
        {% for doc in theorem.doc_decls|default([], true) %}
        <div class="doc-stmt">{{ doc.decl_header_html }}</div>
        <p><a href="{{ doc.docs_link }}">文档</a>, <a href="{{ doc.src_link }}">源文件</a></p>
        {% endfor %}
        {% for title, link in (theorem.links|default({}, true)).items() %}<p><a href="{{link}}">{{title}}</a></p>{% endfor %}
        {% if theorem.note %}<p>{% markdown %}{{ theorem.note }}{% endmarkdown %}</p>{% endif %}
    {% endfor %}

    以下定理仅形式化了其陈述。欢迎为其证明做出贡献。
    {% for theorem in thousand_theorems|selectattr('statement_formalized') %}
        <h5 class="markdown-heading mt-5" id="{{ theorem.id }}">{{ theorem.id }}: {{ theorem.title }} <a class="hover-link" href="#{{ theorem.id }}">#</a></h5>
        {% if theorem.authors %}<p>作者: {{ theorem.authors }}</p>{% endif %}
        {% if theorem.statement %}<p><code>{{ theorem.statement }}</code></p>{% endif %}
        {% for doc in theorem.doc_decls|default([], true) %}
        <div class="doc-stmt">{{ doc.decl_header_html }}</div>
        <p><a href="{{ doc.docs_link }}">文档</a>, <a href="{{ doc.src_link }}">源文件</a></p>
        {% endfor %}
        {% for title, link in (theorem.links|default({}, true)).items() %}<p><a href="{{link}}">{{title}}</a></p>{% endfor %}
        {% if theorem.note %}<p>{% markdown %}{{ theorem.note }}{% endmarkdown %}</p>{% endif %}
    {% endfor %}

{% endblock %}