{% extends '_base.html' %}
{% from '_overview-macros.html' import flat_child %}
{% block title %}mathlib 中的数学{% endblock %}
{% block content %}
	<h1>mathlib 概览</h1>

	<p>
	此网页旨在提供 mathlib 中当前涵盖的主题的粗略列表，并为进一步探索提供指引。
	这不是一个详尽的列表，并且可能已经过时
	（请参阅<a href="mathlib4_docs/">完整索引</a>以获取详尽且最新的信息）。
	</p>

	<p>
	此处的主题按我们目前在 mathlib 中拥有的最大通用性列出，因此有些内容可能难以识别。我们还专门有一个关于
	<a href="undergrad.html">本科数学</a>的页面，该页面可能更容易阅读，还有一个列出了
	<a href="undergrad_todo.html">尚未加入 mathlib</a> 的本科数学主题的页面。
	</p>

	<p>
	要更新此列表，请在编辑
	<a href="https://github.com/leanprover-community/mathlib4/blob/master/docs/overview.yaml">yaml 源文件</a>后，
	<a href="contribute/index.html">向 mathlib 提交一个拉取请求</a>。
	这可以完全在 GitHub 上完成，请参阅
	<a href="https://docs.github.com/en/github/managing-files-in-a-repository/editing-files-in-another-users-repository">“编辑另一个用户存储库中的文件”</a>。
	</p>

	{% for area in overviews %}
	<h4 id="{{ area.slug }}" class="markdown-heading">{{ area.title }}<a class="hover-link" href="#{{ area.slug }}">#</a></h4>
	  {% for subarea in area.children %}
	  <p class="ml-4 mb-2">
	  <b>{{ subarea.title }}</b>
		{% for item in subarea.children %}
                {{ flat_child(item) }}{% if not loop.last %}, {% else %}.{% endif %}
		{% endfor %}
		{% if subarea.title in theories %}
		  {% if theories[subarea.title] | count > 1 %}
		  另请参阅我们关于 {% for title, url in theories[subarea.title].items() %}{% if loop.last %} 和 {%endif%}<a href="theories/{{ url }}.html">{{ title }}</a>{% if not loop.last %}, {% endif %}{% endfor %} 的文档页面。
		  {% else %}
		  另请参阅我们关于 {% for title, url in theories[subarea.title].items() %}<a href="theories/{{ url }}.html">{{ title }}</a>{% endfor %} 的文档页面。
		  {% endif %}
		{% endif %}
	  </p>
      {% endfor %}
	  {% if area.title in theories %}
		<p>
	    {% if theories[area.title] | count > 1 %}
		另请参阅我们关于 {% for title, url in theories[area.title].items() %}{% if loop.last %} 和 {%endif%}<a href="theories/{{ url }}.html">{{ title }}</a>{% if not loop.last %}, {% endif %}{% endfor %} 的文档页面。
		{% else %}
		另请参阅我们关于 {% for title, url in theories[area.title].items() %}<a href="theories/{{ url }}.html">{{ title }}</a>{% endfor %} 的文档页面。
		{% endif %}
		</p>
	  {% endif %}
	{% endfor %}

{% endblock %}