{% extends '_base.html' %}
{% block title %}mathlib 中缺失的本科数学内容{% endblock %}
{% block content %}
    <h1>mathlib 中缺失的本科数学内容</h1>

    <p>
    此处列出了 mathlib 目前缺失的本科数学主题的指引。
    此列表收集自
    <a href="http://media.devenirenseignant.gouv.fr/file/agreg_externe/59/7/p2020_agreg_ext_maths_1107597.pdf">
    法国课程大纲</a>。
    还有一个列出了本科数学主题的页面，这些主题
    <a href="undergrad.html">已存在于 mathlib 中</a>。
    </p>

    <p>如果您想处理此列表中的某项内容，请
    首先查看
    <a href="https://github.com/leanprover-community/mathlib4/pulls">拉取请求列表</a>
    以确定它是否正在进行中，然后查看
    <a href="https://github.com/leanprover-community/mathlib4/issues">议题列表</a>
    查看是否已在此讨论，最后在
    <a href="https://leanprover.zulipchat.com/">Zulip</a> 上讨论该想法。
    </p>

    <p>要更新此列表，请在 mathlib 存储库中通过 PR 修改
    <a href="https://github.com/leanprover-community/mathlib4/edit/master/docs/undergrad.yaml">
      docs/undergrad.yaml</a>。
    </p>

  {% macro flat_child(item) -%}
    {%- if item.missing_children -%}
      {{ item.title }}(
      {%- for inner_item in item.missing_children -%}
        {{ flat_child(inner_item) }}{% if not loop.last %}, {% endif %}
      {%- endfor -%})
    {%- else -%}
      {% if item.url %}<a href="{{ item.url }}">{{ item.title }}</a>{% else %}{{ item.title }}{% endif %}
    {%- endif -%}
  {%- endmacro -%}

  {% for area in overviews %}
    {% if area.has_missing_child %}
    <h4>{{ area.title }}</h4>
      {% for subarea in area.missing_children %}
        <p class="ml-4 mb-2">
        <b>{{ subarea.title }}: </b>
        {% for item in subarea.missing_children %}
	{{ flat_child(item) }}{% if not loop.last %}, {% else %}.{% endif %}
        {% endfor %}
        </p>
      {% endfor %}
    {% endif %}
  {% endfor %}

{% endblock %}